
/* v Header Section v */

header {
    display: flex;
    align-items: end;
}
header p {
	align-self: start;
    color: var(--text-color);
	text-align: center;
	border: 2px solid var(--text-color);
	border-radius: 50% 50% 0 50%;
}

#myProfile {
	background-color: transparent;
    border: 1px solid var(--borders);
	border-radius: 15%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);

	transition: .1s;
}
/* ^ Header Section ^ */
/*********************************************************************************/
/* v Content Sections v */

.specialties {
    transition: transform 0.3s ease;
  height: 50px; /* Consistent size */
  margin: 0 10px;

    transition: .3s;
}
.specialties:hover {
  transform: scale(1.2);
}

#academics {
    list-style-type: none;
    font-weight: 700;
}

.sectionTitle {
	background-color: var(--nav-bg);
	text-align: center;
}
.mainSection {

}
.sectionContents, .sectionPerformance {
	display: flex;
}
.sectionContents img {
	border: 1px solid white;
}
.sectionContents:hover img, .sectionContents:hover {
	
}
.sectionContents .title_description {
	text-align: center;
	flex-grow: 1;
}
.sectionContents .title_description p a {
    color: var(--links);
}

.sectionPerformance {
    flex-direction: column;
    align-items: center;
}
.ama-shs {
    border-collapse: collapse;
}
.ama-shs tr th, .ama-shs tr td {
    border: 1px solid var(--text-color)
}
.sectionPerformance h2 {
    color: var(--neutral);
}
.sectionPerformance h4 {
    display: flex;
    margin-bottom: 50px;
    color: var(--neutral);
    text-align: center;
}
.sectionPerformance h4 span {
    font-family: 'Brush Script MT', 'Arial';
    color: var(--highlight);
    font-size: 4rem;
}

/* ^ Content Sections ^ */
/* v Profile Design v */

.fog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
}
.modalform {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    
    border: 1px solid var(--borders);
    background-color: var(--nav-bg);

    z-index: 11;
}
.modalform h2 {
    text-align: center;
}
.formpage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3%;
    margin-top: 0;
}
.formpage img {
    border: 1px solid var(--borders);
    border-radius: 50%;
}
.innerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}
.innerdiv button {
    margin: 2% 0;
}
.titleandinput {
    display: flex;
    justify-content: space-between;
}
.titleandinput label b {
    text-wrap: nowrap;
}
.invert {
    display: flex;
    flex-direction: column;
}
.gender label {
    margin: 0 3%;
}

/* ^ Profile Design ^ */