
/* v General Setting v */

* {
	padding: 0;
	margin: 0;
	box-sizing: box;
	font-family: Arial, Helvetica, sans-serif;
    text-wrap: wrap;
}

/* DARK MODE (DEFAULT) */
:root {
	--background-color: #ccc; /* Default Dark mode background color */
    --text-color: #000; /* Default Dark mode text color */
    --background-color-oppose: #000;
    --text-color-oppose: #fff;
	--nav-bg: #abc;

    --neutral: #0a7;
    --highlight: #a0a;
    --borders: #00f;

    --links: magenta;
    --footer: #555;

    transition: .3s;
}

/* LIGHT MODE 
.light-mode {
    --background-color: #fff;
    --text-color: #002;
    --background-color-oppose: #000;
    --text-color-oppose: #fff;
	--nav-bg: #ccc;

    --neutral: #66f;
    --borders: #777;

    transition: .3s;
}
*/

/* v Utilities v */

.borderNorm {
    border: 1px solid var(--borders);
    border-left: 0;
    border-right: 0;
}
.borderNorm:hover {
    border: 1px solid #c60;
    border-left: 0;
    border-right: 0;
}
.reverseH {
    flex-direction: row-reverse;
}
.reverseV {
    flex-direction: column-reverse;

}
/* ^ Utilities ^ */


/* ^ General Setting ^ */
/*********************************************************************************/
/* v Navigation Code v */

nav {
	position: sticky;
	top: 0;
	
	background-color: var(--nav-bg);
    color: var(--neutral);
    font-family: Arial, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 5%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	
	z-index: 5;
}
nav h2 a {
    color: var(--text-color);
    text-decoration: none;
}
nav h2 a span {
    color: transparent;
}
nav h2 a, nav h2 a span, nav ul li a {
    transition: .3s;
}
nav h2 a:hover, nav h2 a:hover span {
	color: var(--neutral);
}

nav ul {
	list-style: none;
	display: flex;
}
nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}
nav ul li a:hover {
    color: var(--neutral);
}

/* ^ Navigation Code ^ */
/*********************************************************************************/
/* v Footer Code v */

footer {
    position: static;
    bottom: 0;

    display: flex;
    justify-content: center;

    background-color: var(--footer);
}
.footerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;

    font-family: Arial;
    color: white;
}
.footerSection ul li a, .footerSection ul li a i {
    color: white;
    text-decoration: none;
}
#socials {
    display: flex;
    flex-direction: column;

    padding: 20px;
    margin: 0;

    font-family: Arial;
    color: white;
}
#socials li {
    display: flex;
    justify-content: space-between;
    
    margin: 10px;
}
.footerSection ul {
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footerSection ul li {
    margin: 0 10px;
}
.footerSection h4 {
    margin-bottom: 40px;
}
.footerSection button {
    background-color: transparent;
    border: 0;
}
.footerSection button img {
    border: 1px solid var(--borders);
    border-radius: 50%;
}

/* ^ Footer Code ^ */
/*********************************************************************************/


