
/* v General Setting v */

* {
	padding: 0;
	margin: 0;
	box-sizing: box;
	font-family: Arial, Helvetica, sans-serif;
    text-wrap: wrap;
}

/* DARK MODE (DEFAULT) */
:root {
	--background-color: #000; /* Default Dark mode background color */
    --text-color: #fff; /* Default Dark mode text color */
    --background-color-oppose: #fff;
    --text-color-oppose: #002;
	--nav-bg: #111;
    --neutral: #66f;

    transition: .3s;
}
/* LIGHT MODE */
.light-mode {
    --background-color: #fff; /* Light mode background color */
    --text-color: #002; /* Light mode text color */
    --background-color-oppose: #000;
    --text-color-oppose: #fff;
	--nav-bg: #ccc;
    --neutral: #66f;
    
    transition: .3s;
}

/* ^ General Setting ^ */
/*********************************************************************************/
/* v Navigation Code v */

nav {
	position: sticky;
	top: 0;
	
	background-color: var(--nav-bg);
    color: var(--neutral);
	height: 15vh;
    font-family: Arial, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
    box-shadow: 0px 3vh 20px 0px rgba(0, 0, 0, 0.3);
	
	z-index: 5;
}
#lightModeToggle {
    margin: auto;

    border: 0;
    border-radius: 50%;
    font-weight: 700;
    background-color: var(--background-color);
    color: var(--text-color);

    transition: .4s;
}
#lightModeToggle:hover {
    font-size: 1.2rem;
    background-color: var(--background-color-oppose);
    color: var(--text-color-oppose);
    box-shadow: 0px 0px 20px 10px var(--background-color-oppose);
    rotate: -360deg;
}
nav h2 {
	color: var(--neutral);
}
nav h2 span {
    color: transparent;
    transition: .5s;
}
nav h2 span:hover {
	color: var(--neutral);
}
nav ul {
	list-style: none;
	display: flex;
}
nav ul li {
	padding: 10px 30px;
}

/* ^ Navigation Code ^ */
/*********************************************************************************/
/* v Sidebar Code v */

#openAside {
    margin: 1%;
	position: fixed;
    padding: 0;
    left: 0;
    
    background-color: var(--nav-bg);
    color: var(--neutral);
	font-size: 3em;
    border: 0;
    border-radius: 25%;
    box-shadow: 0px 3vh 20px 0px rgba(0, 0, 0, 0.3);

	z-index: 6;
}
aside {
    position: fixed;
	left: 0;
    bottom: 0;
	
    display: none;

	margin: 2vh;

    overflow-x: hidden;
    overflow-y: auto;

    color: var(--neutral);
    border-radius: 5%;
    box-shadow: 0px 3vh 20px 0px rgba(0, 0, 0, 0.3);
	
    text-align: center;

	z-index: 5;

    transition: .3s;
}
aside ul {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    border: 2px solid var(--neutral);
}
aside ul li {
    padding: 5% 0;
    background-color: var(--background-color);
    width: 100%;
    
    list-style-type: none;

    transition: .3s;
}
aside ul li:hover {
    background-color: var(--background-color-oppose);
}
aside ul li:hover a {
    color: var(--text-color-oppose);
}
aside ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;

    transition: .3s;
}

/* ^ Sidebar Code ^ */
/*********************************************************************************/
/* v Footer Code v */

footer {
    position: static;
    bottom: 0;

    display: flex;
    justify-content: center;

    margin-top: 20vh;
    background-color: #444;
}
.footerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;

    font-family: Arial;
    color: white;
}
.footerSection label a, .footerSection ul li a i {
    color: white;
}
.footerSection label a {
    text-decoration: none;
}
.footerSection ul {
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footerSection ul li {
    margin: 0 10px;
}
.footerSection h4 {
    margin-bottom: 40px;
}
.footerSection button {
    background-color: transparent;
    border: 0;
}
.footerSection button img {
    border-radius: 50%;
}

/* ^ Footer Code ^ */
/*********************************************************************************/


