
/* v Media Queries v */

/* Default */
body {
	margin: 0;
    padding: 0;

	background-color: var(--background-color);
    color: var(--text-color);
}
body {
    font-size: 14px;
}
#lightModeToggle {
    height: 60px;
    width: 60px;
}
#lightModeToggle:hover {
    height: 80px;
    width: 80px;
}

header {
    margin: 8% 20%;
    justify-content: center;
}
header p {
    padding: 20px;
}
#myProfile {
    height: 300px;
    width: 300px;
}

#openAside {
    width: 70px;
}
aside {
	width: 200px;
}

footer {
    flex-direction: row;
}
.footerSection label a, .footerSection ul li a i {
    font-size: 2rem;
}
.footerSection label a {
    font-size: 1.5rem;
}
.footerSection button img {
    height: 150px;
    width: 150px;
}

/* styles1.css */
.sectionContents {
    padding: 100px 0;
    margin: 400px 0;
}
.innerContent {
    width: 100%;
}
.mainImg {
    height: 300px;
    width: 350px;
}
.subImgContainer {
    width: 100%;
}
.subImg {
    height: 200px;
    width: 200px;
    margin: 5px;
}


/* Extra Small Devices (Phones) */
@media only screen and (max-width: 575px){
    body {
      font-size: 14px;
    }
    nav {
        height: 60px;
    }
    nav h2 {
        font-size: .8rem;
    }
    #lightModeToggle {
        height: 40px;
        width: 40px;
    }
    #lightModeToggle:hover {
        height: 60px;
        width: 60px;
    }

    header {
        margin: 30% 10%;
    }
    header p {
        padding: 15px;
        font-size: .5rem;
    }
    #myProfile {
        height: 150px;
        width: 150px;
    }
    
    #openAside {
        width: 40px;
    }

    footer {
        flex-direction: column-reverse;
    }
    .footerSection label a, .footerSection ul li a i {
        font-size: 2rem;
    }
    .footerSection label a {
        font-size: 1.2rem;
    }
    .footerSection button img {
        height: 100px;
        width: 100px;
    }

    /* styles1.css */
    .sectionContents {
        margin: 500px 0;
    }
    .innerContent {
    
    }
    .mainImg {
        height: 200px;
        width: 200px;
    }
    .subImgContainer {
        
    }
    .subImg {
        height: 100px;
        width: 100px;
    }
}
  
  /* Small Devices (Tablets) */
@media only screen and (min-width: 576px) and (max-width: 767px){
    body {
      font-size: 15px;
    }
}
