
/* v Header Section v */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

	margin: 7% 15% 0;
}
header p {
	font-size: 1.5rem;
    color: var(--text-color);
	text-align: center;
}

#myProfile {
	height: 300px;
	width: 300px;

	background-color: transparent;
	border: 1px solid aqua;
	border-radius: 15%;

	transition: .1s;
}
#myProfile:hover {
	border: 0;
	border-radius: 0;
	height: 350px;
	width: 350px;
}
#myProfile:active, #myProfile:focus {
	border-radius: 0;
	border: 0;
}
/* ^ Header Section ^ */
/*********************************************************************************/
/* ^ Content Sections ^ */

.sectionContents {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin: 100px 0;
	border: 2px solid var(--text-color);
}

/* ^ Content Sections ^ */
