
/* v Header Section v */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p {
    color: var(--text-color);
	text-align: center;
}

#myProfile {
	background-color: transparent;
	border-bottom: 5px solid var(--neutral);
	border-radius: 15%;

	transition: .1s;
}
#myProfile:hover {
	border: 0;
	border-radius: 0;
}
#myProfile:hover {
	border-radius: 0;
	border: 0;
}
/* ^ Header Section ^ */
/*********************************************************************************/
/* ^ Content Sections ^ */

.sectionContents {
	display: flex;
	align-items: center;
	flex-direction: column;

	border: 2px solid var(--text-color);
}

/* ^ Content Sections ^ */
